
    <!-- Banner -->   
      <section id="banner" class="banner_today background_today">
        
        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">
          
          <header>
            <h2>TODAY</h2>
          </header>
          <p>This is your<br />
          <strong>challenge:</strong><br /></p>
      
              <a href="/challenges/<%=@challenge.id%>">
          
              <h3><strong><%=@challenge.name%></strong></h3>
    
             </a>
    
          
          <footer>
            <ul class="buttons vertical">
              <li><a href="/challenges/<%=@challenge.id%>" class="button fit scrolly">Photos</a></li>
            </ul>
          </footer>
          </div>

          <div class="inner float-right">
          
          <header>
            <h2>SUBMIT</h2>
          </header>
            
            <form method="post" action="/images">
                <div>

                  <input type="text" name="url" placeholder="url" value="<%= @image && @image.url %>">
                </div>
                <div>

                  <input type="text" name="title" placeholder="title" value="<%= @image && @image.title %>">
                </div>
            </form>
          
          <footer>
            <ul class="buttons vertical">
              <li><a href="/images" class="button fit scrolly">Submit</a></li>
            </ul>
          </footer>
          </div>
        
      </section>
