
   <!-- Header -->
<header id="header" class="alt">
  <nav id="nav" class="float-left">
    <ul>
      <li class="current"><a href="/">Picaday</a></li>
      <li><a href="/auth/sign_up" class="button special">Sign up</a></li>
    </ul>
  </nav>
  <nav id="nav" class="float-right">
    <ul>
      <li class="current"><a href="/images">Welcome</a></li>
      <li class="submenu">
        
        <ul>
          <li><a href="left-sidebar.html">Left Sidebar</a></li>
          <li><a href="right-sidebar.html">Right Sidebar</a></li>
          <li><a href="no-sidebar.html">No Sidebar</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li class="submenu">
            <a href="">Submenu</a>
            <ul>
              <li><a href="#">Dolore Sed</a></li>
              <li><a href="#">Consequat</a></li>
              <li><a href="#">Lorem Magna</a></li>
              <li><a href="#">Sed Magna</a></li>
              <li><a href="#">Ipsum Nisl</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/auth/sign_in" class="button special">Sign in</a></li>
    </ul>
  </nav>
</header>


    <!-- Banner -->   
      <section id="banner02">
        
        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">
          
          <header>
            <h2>TODAY</h2>
          </header>
          <p>This is your<br />
          <strong>challenge:</strong><br /></p>
          <div class="challenge-list-item">
              <a href="/challenges/<%=@challenge.id%>">
            <div class="challenge-list-item">
              <h3><strong><%=@challenge.name%></strong></h3>
              <date><%=@challenge.date.to_s%></date>
            </div>
             </a>
            </div>
          
          <footer>
            <ul class="buttons vertical">
              <li><a href="/images" class="button fit scrolly">Photos</a></li>
            </ul>
          </footer>
          </div>

          <div class="inner float-right">
          
          <header>
            <h2>SUBMIT</h2>
          </header>
            
            <form method="post" action="/images">
                <div>

                  <input type="text" name="url" placeholder="url" value="<%= @image && @image.url %>">
                </div>
                <div>

                  <input type="text" name="title" placeholder="title" value="<%= @image && @image.title %>">
                </div>
            </form>
          
          <footer>
            <ul class="buttons vertical">
              <li><a href="/images" class="button fit scrolly">Submit</a></li>
            </ul>
          </footer>
          </div>
        
      </section>
